/* CONTACT US */
*{
    margin: 0;
    padding: 0;
    
    }
body {
    background-image: url(contus.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact-box{
    display: flex;
    align-items: center;
    margin-top: 180px;
    justify-content: center;
    min-height: 90vh;
   /* width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.1)50%,rgba(0,0,0,0.1)50%), url(mb4.jpg);
    background-position: center;
    background-size: cover;
    height: 780px;*/
    
}
.contact-container{
    /*background:  linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);*/
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

.img img{
    height: 100px;
    width: 100px;
    margin-left: 70px;
}
.b25 .bt5 img{
    height: 100px;
    width: 100px;
    margin-left: -750px;
    margin-top: 170px;
}

.contact-box .input-field .contact-inputs{
    width: 250px;
    height: 30px;
    color: #fff;
    font-family: Arial;
    font-style: bold;
    font-weight: 10;
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid aqua;
}
.contact-box .input-field ::placeholder{
    color: aqua;
    font-family: Arial black;
}

.btnn3{
    border-radius: 7px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px;
    border: 1px;
    font-family: Arial black;
    color: black;
    width: 80%;
    background: aqua;
}
.btnn3:hover{
    background: black;
    color: aqua;
    transition: 0.3s;
    cursor: pointer;
}