*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-image:linear-gradient(to top, rgba(0,0,0,0.3)50%,rgba(0,0,0,0.3)50%), url(cart1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navig button{
    background: rgba(141, 137, 117, 0.774);
    padding: 15px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    border-radius: 10px;
    font-family: arial black;
    color: rgb(45, 45, 110);
    font-size: 15px;
    cursor: pointer;
    border: none;
}
.navig button:hover{
    background-color: rgb(45, 45, 110);
    color: rgb(63, 88, 88);
    transition: .3s;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 80px;
    word-spacing: 5px;
    letter-spacing: 3px;
    color: aqua;
}
ul li a:hover{
    color: #fff;
}
ul li ion-icon{
    color: aqua;
}
ul li ion-icon:hover{
    color:#fff;
}